<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css"> <!--Carrega o css principal-->
    <link rel="stylesheet" href="/assets/css/main/aplicativos.css"> <!--css base da pagina-->
    <link rel="shortcut icon" href="/assets/icons/Logo.png" type="image/x-icon"> <!-- Icone do site -->
    <title>Aplicativos</title>

    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>OliverNet</h1>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="/index.html" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="/templates/main/aplicativos.html" class="nav-link">Aplicativos</a>
                    </li>
                    <li class="nav-item"><a href="/templates/main/suporte.html" class="nav-link">Suporte</a></li>
                </ul>
            </div>
            <div class="login-button">
                <button><a href="https://wa.me/message/LFQ65RMEMPTSM1">WhatsApp</a></button>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="/assets/icons/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="/index.html" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="/templates/main/aplicativos.html" class="nav-link">Aplicativos</a></li>
                <li class="nav-item"><a href="/templates/main/suporte.html" class="nav-link">Suporte</a></li>
            </ul>

            <div class="login-button">
                <button><a href="https://wa.me/message/LFQ65RMEMPTSM1">Contato</a></button>
            </div>
        </div>
    </header>

<body>
    <style>
        body {
            background-image: url(/assets/icons/fundo.png);
        }
    </style>
</body>
<main class="main">
    <h1>Aplicativos</h1>
    <div class="aplicativos">
        <div class="app-box">
            <h1>APP ANDROID</h1>
            <img src="/assets/icons/android.png" alt="">
            <a href="https://play.google.com/store/apps/details?id=reetnet.plus"><button
                    style="background-image: url(/assets/icons/table.png);"></button></a>
        </div>

        <div class="app-box">
            <h1>APP REETNET</h1>
            <a href="https://play.google.com/store/apps/details?id=aplicativo.play.net106"><button
                    style="background-image: url(/assets/icons/table.png);"></button></a>
        </div>

        <div class="app-box">
            <h1>IOS NAPSTERNETV</h1>
            <a href="https://apps.apple.com/app/napsternetv/id1629465476"><button
                    style="background-image: url(/assets/icons/table.png);"></button></a>
        </div>
    </div>
    <h2>Tutoriais</h2>
    <div class="aplicativos">
        <div class="app-box">
            <h1>TUTORIAL ANDROID</h1>
            <a href="https://youtube.com/shorts/U3RRzmafAhI?feature=share"><button
                    style="background-image: url(/assets/icons/table.png);"></button></a>
        </div>
        <div class="app-box">
            <h1>TUTORIAL REETNET</h1>
            <a href="https://youtube.com/shorts/QzJfRBCTuRc?feature=share"><button
                    style="background-image: url(/assets/icons/table.png);"></button></a>
        </div>

        <div class="app-box">
            <h1>TUTORIAL APPLE</h1>
            <a href="https://youtu.be/-Owb6MwYE4U"><button
                    style="background-image: url(/assets/icons/table.png);"></button></a>
        </div>
    </div>

</main>
<script src="/assets/script/script.js"></script>

</html>