body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    display: block;
    margin: auto;
}

.logo img {
    background-size: cover;
    align-items: left;
    display: flex;
    margin-top: -7%;
    margin-bottom: -3%;
    margin-left: -10%;
    margin-right: 10%;
    width: 15%;
}


.button-whatsapp {
    position: fixed;
    opacity: .9;
    bottom: 15px;
    right: 15px;
    background-color: green;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    box-shadow: 2px 1px #0d630d63;
    transition: 1s;
}

.button-whatsapp img {
    border-radius: 100%;
}

header {
    background-color: gold;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: royalblue;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: black;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    margin-top: 15%;
    border-radius: 5px;
    background-color: green;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.top h1 {
    font-size: 70px;
    display: flex;
    justify-content: start;
    text-shadow: 8px 8px 9px #464646;
    opacity: 1;
    color: #fff;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: -5%;
    padding: 1%;
}

.top h2 {
    display: flex;
    justify-content: start;
    margin-left: 11%;
    margin-right: auto;
    margin-top: 2%;
    color: green;
    font-size: large;
    font-style: oblique;
    text-shadow: 3px 4px 10px #fff;
}

.bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.main {
    background-color: #ffffff8e;
    border-radius: 40px;
    box-shadow: 10px 10px 19px;
    width: 80%;
    padding: 1.5%;
    margin-right: 3%;
}

.main h3 {
    text-align: center;
    padding: 3px;
    font-size: 180%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}

.videos {
    width: 100%;
}
footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: yellow;
    width: 100%;
    height: 120px;
}
footer button {
    border: none;
    background-color: transparent;
}
footer img {
    width: 40px;
    border-radius: 100px;  
}
@media screen and (max-width: 900px) {
    .img-logo {
        background-size: cover;
        align-items: left;
        display: flex;
        width: 15%;
    }

    .logo {
        display: flex;
        justify-content: start;
        margin-left: 1%;
    }

    .nav-bar {
        padding: 2.2rem 2.5rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: green;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        border: none;
        cursor: pointer;
        transition: 1s;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }

    .top h1 {
        display: flex;
        justify-content: center;
        font-size: 330%;
        margin-top: 7%;
    }

    .top h2 {
        display: flex;
        justify-content: center;
        margin-left: 1%;
        font-size: 110%;
    }

    .bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4%;
        margin-top: 8%;

    }

    .main {
        display: flex;
        justify-content: center;
        background-color: #79696991;
        border-radius: 40px;
        width: 100%;
        margin-left: 3%;
    }

    .main h3 {
        color: #fff;
        text-align: center;
        font-size: 120%;
        margin-left: 2%;
        margin-top: 5%;
    }

    .videos {
        margin-top: 8%;
        margin-bottom: 10%;
        margin-left: 1%;
        margin-right: 1%;
        width: 100%;
        border-radius: 20%;
    }
}