<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css"> <!--Carrega o css principal-->
    <link rel="stylesheet" href="#"> <!--css base da pagina-->
    <link rel="shortcut icon" href="/assets/icons/Logo.png" type="image/x-icon"> <!-- Icone do site -->
    <title><!--titulo da pagina --></title>

</head>
<header>
    <nav class="nav-bar">
        <div class="logo">
            <img src="/assets/icons/logo.png" alt="">
            <h1>OliverNet</h1>
        </div>
        <div class="msg-timer">
            <div id="timer">15:00</div>

            <div id="text-timer">
                <h1>ATENÇÃO! Por tempo limitado!</h1>
            </div>
        </div>
        <div class="nav-list">
            <ul>
                <li class="nav-item"><a href="/templates/main/index.html" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="/templates/main/aplicativos.html" class="nav-link">Aplicativos</a></li>
                <li class="nav-item"><a href="/templates/main/suporte.html" class="nav-link">Suporte</a></li>
            </ul>
        </div>
        <div class="login-button">
            <button><a href="https://wa.me/message/LFQ65RMEMPTSM1">WhatsApp</a></button>
        </div>

        <div class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="assets/icons/menu_white_36dp.svg" alt=""></button>
        </div>
    </nav>
    <div class="mobile-menu">
        <ul>
            <li class="nav-item"><a href="/templates/main/index.html" class="nav-link">Inicio</a></li>
            <li class="nav-item"><a href="/templates/main/aplicativos.html" class="nav-link">Aplicativos</a></li>
            <li class="nav-item"><a href="/templates/main/suporte.html" class="nav-link">Suporte</a></li>
        </ul>

        <div class="login-button">
            <button><a href="https://wa.me/message/LFQ65RMEMPTSM1">Contato</a></button>
        </div>
    </div>
</header>

<body>
    <style>
        body {
            background-image: url(/assets/icons/fundo.png);
        }
    </style>
</body>

<main>
    <!----------------------------------------- Inicio da main ----------------------------------------->
</main>

<footer>
    <div>
        <a href="https://wa.me/message/LFQ65RMEMPTSM1">
            <button class="button-whatsapp">
                <img width="100%" class="icon-whatsapp" src="/assets/icons/icon-whatapp.png" alt="">
            </button></a>
    </div>
    <div>
        <p>&copy; OliverNet 2023</p>
        <p>(79) 9 99690-7433</p>
    </div>
    <div>
        <a href="http://www.youtube.com/@Olivernet"><button><img
                    src="/links/assets/icons/vecteezy_youtube-icon-ios-youtube-social-media-logo-on-white_13901818.jpg"
                    alt=""></button></a>
        <a href="https://wa.me/message/LFQ65RMEMPTSM1"><button><img src="/links/assets/icons/icon-whatapp.png"
                    alt=""></button></a>
        <a href="instagram.com/oliver_nett"><button><img src="/links/assets/icons/icon-instagram.png" alt=""></button></a>
    </div>
</footer>

<!----------------------------------------------- SCRIPT ----------------------------------------------->

</html>