body {
    background-image: url(/links/assets/img/Fundos-link.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    display: flex;
    justify-content: center;

}

.box {
    display: flex;
    background-color: #464646c7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100%;
    border-radius: 30px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 70%;
    border: none;
    margin-bottom: -4%;
    transition: 4s;
}

#log {
    display: none;
}

.container h1 {
    font-size: 300%;
    color: aliceblue;
    margin-bottom: -2%;
    margin-top: -10%;
}

.container h2 {
    font-size: 150%;
    color: rgb(255, 136, 0);
}

h3 {
    color: aliceblue;
}

.button {
    display: flex;
    margin-top: 15%;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 43%;
    margin: 2%;
    transition: .8s;
}

.button img {
    width: 70px;
    border: none;
    border-radius: 13px;
}

.button-wpp img {
    width: 70px;
    border: none;
    background-color: transparent;
    display: flex;
    position: 15px;
    padding-left: 10%;
}

.button-wpp button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 13%;
    padding-right: 30px;
    width: 200px;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 30px;
}

.button button {
    cursor: pointer;
    display: flex;
    border: none;
    background-color: transparent;
    margin-inline: 25px;
}

.button h2 {
    color: aliceblue;
    font-size: 170%;
}

.button-wpp h2 {
    color: aliceblue;
    font-size: 170%;
}

.button a {
    text-decoration: none;
}

.button-wpp a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    body {
        background-color: black;
        background-image: none;
    }

    .box {
        background-color: transparent;
        width: 85%;
    }

    #logo {
        display: none;
    }

    #log {
        display: flex;
        width: 85%;
    }

    .container h1 {
        display: none;
    }

    #h2 {
        font-size: 100%;
        margin-top: -15%;
    }

    .button img {
        width: 45px;
    }

    .button-wpp img {
        width: 40%;
    }

    .button-wpp h2 {
        font-size: 150%;
        color: black;
        margin-left: 20%;
    }

    .button-wpp button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aliceblue;
    }
    .button button {
        margin-inline: 13px;
    }
}