body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    display: flex;
    justify-content: center;

}

.box {
    display: flex;
    background-color: #464646c7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100%;
    border-radius: 30px;
    padding-top: 10%;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 45%;
    border: none;
    border-radius: 100%;
    margin-bottom: -4%;
    transition: 4s;
}

.container h1 {
    font-size: 300%;
    color: aliceblue;
    margin-bottom: -2%;
}

.container h2 {
    font-size: 150%;
    color: rgb(255, 136, 0);
}

.button {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 43%;
    margin: 2%;
    transition: .8s;
}

.button img {
    width: 40px;
    border: none;
    border-radius: 13px;
}

.button button {
    width: 600px;
    height: 70px;
    background-color: rgb(255, 136, 0);
    border: none;
    border-radius: 30px;
}

.button h2 {
    color: aliceblue;
    font-size: 170%;
}

.button a {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    body {
        padding-left: 1%;
        padding-right: 1%;
    }

    .box {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 25%;
        padding-bottom: 8%;
    }

    .container h1 {
        font-size: 250%;
    }

    .container h2 {
        font-size: 120%;
    }

    .button button {
        width: 300px;
    }
}