.top{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
img {
    width: 25rem;
    margin: 0 auto;
}

.bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.main {
    background-color: #ffffff8e;
    border-radius: 40px;
    box-shadow: 10px 10px 19px;
    width: 80%;
    padding: 1.5%;
    margin-right: 3%;
}

.main h3 {
    text-align: center;
    font-size: 22px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}

.videos {
    display: flex;
    justify-content: center;
    width: 100%;
}
iframe {
    border-radius: 15px;
}
@media screen and (max-width: 900px) {

    img {
        width: 90%;
    }
    .bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4%;
        margin-top: 8%;
    }

    .main {
        display: flex;
        justify-content: center;
        background-color: #79696991;
        border-radius: 40px;
        width: 100%;
        margin-left: 3%;
    }

    .main h3 {
        color: #fff;
        text-align: center;
        font-size: 120%;
        margin-left: 2%;
        margin-top: 5%;
    }

    .videos {
        margin-top: 10%;
    }
    iframe {
        height: 210px;
    }
}